.tabcontent{
    width: 100%;
    overflow : auto;
}

#boxcontent{
    width:70%;
    overflow : auto;
    max-height: 100%;
    margin-bottom: 3em;
    margin-top: 5em;
    display : flex;
    align-items: center;
    justify-content: center;
}